@font-face {
    font-family: nav;
    src: url("NixieOne-Regular.woff");
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~ *#splash* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.spacer {
    margin: auto;
    width: 60%;
    height: 40%;
    background-color: transparent;
}

h1 {
    margin: auto;
    text-align: center;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: bold;
    font-size: 40px;
}

h2 {
    margin: auto;
    text-align: center;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-style: italic;
    font-size: 20px;
    letter-spacing: 2px;
}

.main {
    background-color: #C6D166;
    margin: auto;
    min-width: 250px;
    max-width: 500px;
}

#splash {
    margin: auto;
    width: 100%;
    height: 100%;
    padding: auto;
    background-image: url("Splashscreen2.jpg");
    background-clip: content-box;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 3px solid #5C821A;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~ *Quote* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

#quote_spacer p1 {
    width: 100%;
    color: black;
    font-size: 40;
    text-align: center;
    font-style: italic;
}

#quote_spacer p2 {
    width: 100%;
    padding-left: 70%;
    color: black;
    font-size: 30;
    text-align: right;
    font-style: italic;
}

#quote_spacer #quote {
    margin: 10%;
    margin-top: 2%;
    margin-bottom: 2%;
    border: solid 5px black;
    padding-top: 10px;
    padding-bottom: 10px;
}

#quote_spacer {
    width: 100%;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~ *directory* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

h3 {
    margin: auto;
    margin-top: 10px;
    margin-bottom: 30px;
    text-align: center;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: bold;
    font-size: 40px;
    font-family: nav;
}

#places tr td {
    padding: 0px;
    width: 300px;
    height: 150px;
    background-color: black;
    color: white;
}

table {
    max-width: 100%;
    margin: auto;
}

#directory_spacer {
    width: 100%;
    height: 50px;
}

#directory {
    width: 100%;
    border-top: 3px solid #5C821A;
    background-color: white;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~ *colosseo* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

#col_img {
    height: 150px;
    width: 300px;
    background-image: url("./Directory/colo_back.jpeg");
}

#col_opa {
    height: 150px;
    width: 300px;
    background-color: white;
    opacity: 0;
}

#col_opa:hover {
    opacity: 0.75;
}

#dir_txt a {
    text-decoration: none;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~ *Foro Romano* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

#foro_img {
    height: 150px;
    width: 300px;
    background-image: url("./Directory/foro_back.jpg");
}

#foro_opa {
    height: 150px;
    width: 300px;
    background-color: white;
    opacity: 0;
}

#foro_opa:hover {
    opacity: 0.75;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~ *Colle Palatino* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

#pala_img {
    height: 150px;
    width: 300px;
    background-image: url("./Directory/pala_back.jpg");
}

#pala_opa {
    height: 150px;
    width: 300px;
    background-color: white;
    opacity: 0;
}

#pala_opa:hover {
    opacity: 0.75;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~ *Villa Borghese* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

#borg_img {
    height: 150px;
    width: 300px;
    background-image: url("./Directory/borg_back.jpg");
}

#borg_opa {
    height: 150px;
    width: 300px;
    background-color: white;
    opacity: 0;
}

#borg_opa:hover {
    opacity: 0.75;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~ *Bioparco* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

#zoo_img {
    height: 150px;
    width: 300px;
    background-image: url("./Directory/zoo_back.jpg");
}

#zoo_opa {
    height: 150px;
    width: 300px;
    background-color: white;
    opacity: 0;
}

#zoo_opa:hover {
    opacity: 0.75;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~ *Quirinale* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

#scud_img {
    height: 150px;
    width: 300px;
    background-image: url("./Directory/scud_back.jpg");
}

#scud_opa {
    height: 150px;
    width: 300px;
    background-color: white;
    opacity: 0;
}

#scud_opa:hover {
    opacity: 0.75;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~ *Capitolino* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

#capi_img {
    height: 150px;
    width: 300px;
    background-image: url("./Directory/capi_back.jpg");
}

#capi_opa {
    height: 150px;
    width: 300px;
    background-color: white;
    opacity: 0;
}

#capi_opa:hover {
    opacity: 0.75;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~ *Traiano* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

#trai_img {
    height: 150px;
    width: 300px;
    background-image: url("./Directory/trai_back.jpg");
}

#trai_opa {
    height: 150px;
    width: 300px;
    background-color: white;
    opacity: 0;
}

#trai_opa:hover {
    opacity: 0.75;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~ *Massimo* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

#mass_img {
    height: 150px;
    width: 300px;
    background-image: url("./Directory/mass_back.jpg");
}

#mass_opa {
    height: 150px;
    width: 300px;
    background-color: white;
    opacity: 0;
}

#mass_opa:hover {
    opacity: 0.75;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~ *Venezia* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

#vene_img {
    height: 150px;
    width: 300px;
    background-image: url("./Directory/vene_back.jpg");
}

#vene_opa {
    height: 150px;
    width: 300px;
    background-color: white;
    opacity: 0;
}

#vene_opa:hover {
    opacity: 0.75;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~ *Spagna* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

#spag_img {
    height: 150px;
    width: 300px;
    background-image: url("./Directory/spag_back.jpg");
}

#spag_opa {
    height: 150px;
    width: 300px;
    background-color: white;
    opacity: 0;
}

#spag_opa:hover {
    opacity: 0.75;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~ *Esposizioni* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

#espo_img {
    height: 150px;
    width: 300px;
    background-image: url("./Directory/espo_back.jpg");
}

#espo_opa {
    height: 150px;
    width: 300px;
    background-color: white;
    opacity: 0;
}

#espo_opa:hover {
    opacity: 0.75;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~ *San Pietro* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

#piet_img {
    height: 150px;
    width: 300px;
    background-image: url("./Directory/piet_back.jpg");
}

#piet_opa {
    height: 150px;
    width: 300px;
    background-color: white;
    opacity: 0;
}

#piet_opa:hover {
    opacity: 0.75;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~ *Pantheon* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

#pant_img {
    height: 150px;
    width: 300px;
    background-image: url("./Directory/pant_back.jpg");
}

#pant_opa {
    height: 150px;
    width: 300px;
    background-color: white;
    opacity: 0;
}

#pant_opa:hover {
    opacity: 0.75;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~ *Ostia* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

#osti_img {
    height: 150px;
    width: 300px;
    background-image: url("./Directory/osti_back.jpg");
}

#osti_opa {
    height: 150px;
    width: 300px;
    background-color: white;
    opacity: 0;
}

#osti_opa:hover {
    opacity: 0.75;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~ *links* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

li {
    border: 0px;
    padding: 10px;
    margin: 0px;
    display: inline;
    font-family: nav;
    color: black;
    font-size: 18;
}

#end {
    display: inline;
    float: right;
    padding: 0px;
    padding-right: 10px;
}

ul {
    list-style-type: none;
    padding: 10px;
    margin: 0px;
}

#links {
    margin-top: 10px white;
    background-color: #C6D166;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~ HTML ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

body {
    margin: 0px;
    background-color: #C6D166;
}

html {
    margin: 0px;
    padding: 0px;
    border: 0px;
}