@font-face {
    font-family: nav;
    src: url("NixieOne-Regular.woff");
}

.spacer {
    margin: auto;
    width: 60%;
    height: 40%;
    background-color: transparent;
}

h1 {
    margin: auto;
    text-align: center;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: bold;
    font-size: 40px;
}

h2 {
    margin: auto;
    text-align: center;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-style: italic;
    font-size: 20px;
    letter-spacing: 2px;
}

.main {
    background-color: #C6D166;
    margin: auto;
    min-width: 250px;
    max-width: 500px;
}

#splash {
    margin: auto;
    width: 100%;
    height: 100%;
    padding: auto;
    background-image: url("Splashscreen2.jpg");
    background-clip: border-box;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 3px solid #5C821A;
}

#quote_spacer p1 {
    width: 100%;
    color: black;
    font-size: 40;
    text-align: center;
    font-style: italic;
}

#quote_spacer p2 {
    width: 100%;
    padding-left: 70%;
    color: black;
    font-size: 30;
    text-align: right;
    font-style: italic;
}

#quote_spacer #quote {
    margin: 10%;
    margin-top: 2%;
    margin-bottom: 2%;
    border: solid 5px black;
    padding-top: 10px;
    padding-bottom: 10px;
}

#quote_spacer {
    width: 100%;
}

h3 {
    margin: auto;
    margin-top: 10px;
    text-align: center;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: bold;
    font-size: 40px;
    font-family: nav;
}

#places {
    width: 100%;
}

#directory {
    width: 100%;
    height: 10%;
    border-top: 3px solid #5C821A;
    background-color: white;
}

li {
    border: 0px;
    padding: 10px;
    margin: 0px;
    display: inline;
    font-family: nav;
    color: black;
    font-size: 18;
}

#end {
    display: inline;
    float: right;
    padding: 0px;
    padding-right: 10px;
}

ul {
    list-style-type: none;
    padding: 10px;
    margin: 0px;
}

#links {
    background-color: #C6D166;
}

body {
    margin: 0px;
    background-color: #C6D166;
}

html {
    margin: 0px;
    padding: 0px;
    border: 0px;
}